#nav{
	width: 600px;
	margin: 0 auto;
	height: 40px;
	background-color: #eee;
	}
.level1 li{
	float: left;
	line-height: 40px;
	text-align: center;
	position: relative;
}
.level2{
	position: absolute;
	top: 40px;
	left: 0;
	width: 80px;
	display: none;
}
.level2 li{
	float: none;
	background-color: #eee;
	margin-top: 2px;
}

a{
	width: 80px;
	color: #000;
	display: block;
	height: 40px;
}
a:hover{
	color: #fff;
	background-color: #666;
}